* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

link{
    display: flex;
}
html {
    scroll-behavior: smooth;
}


body {
    background: #020617;
    color: #F3F4F6;
    font-family: "Lexend Deca", sans-serif;
    line-height: 1.6;
}

header {

    height: 55px;

    background: #020617;

    border-top: 2px solid #191D28;
    border-bottom: 2px solid #191D28;

    display: flex;

    align-items: center;
    font-family: "Lexend Deca", sans-serif;
    justify-content: space-between;
    padding: 0 max(12%, calc(50% - 600px));

    position: sticky;

    top: 0;

    z-index: 1000;
}


.logo {

    font-size: 24px;

    font-weight: bold;

    color: #FFFFFF;
}


.logo span {

    color: #f5c000;

}


nav {

    display: flex;

    gap: 27px;

}


nav a {

    color: #999fae;

    text-decoration: none;

    font-size: 16px;
    font-family: "Lexend Deca", sans-serif;
    transition: 0.3s;

}


nav a:hover,
nav a.active {

    color: #FFFFFF;
    font-weight: bold;

}


.nav-toggle {

    display: none;
    flex-direction: column;
    justify-content: space-between;

    width: 26px;
    height: 18px;

    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;

    z-index: 1100;

}


.nav-toggle:focus-visible {

    outline: 2px solid #f5c000;
    outline-offset: 6px;
    border-radius: 2px;

}


.nav-toggle span {

    display: block;
    width: 100%;
    height: 2px;

    background: #FFFFFF;
    border-radius: 2px;

    transition: 0.3s;

}


.nav-toggle.open span:nth-child(1) {

    transform: translateY(8px) rotate(45deg);

}


.nav-toggle.open span:nth-child(2) {

    opacity: 0;

}


.nav-toggle.open span:nth-child(3) {

    transform: translateY(-8px) rotate(-45deg);

}


section {

    padding: 70px max(12%, calc(50% - 600px));

}


.section-title {

    text-align: center;

    margin-bottom: 40px;

}


.section-title h2 {

    font-size: 23px;

    margin-bottom: 5px;

}


.section-title span {

    color: #f5c000;

}


.section-title p {

    color: #9aa1b0;

    font-size: 16px;
    line-height: 1.7;

}

.home {

    min-height: 430px;

    display: flex;

    align-items: center;

    justify-content: space-between;

    gap: 60px;
    background-color: #111827;

}


.home-text {

    max-width: 450px;
    font-family: "Lexend deca", sans-serif;

}


.yellow-text {

    color: #EAB308;

    font-family: "Lexend deca", sans-serif;
    font-weight: bold;

    margin-bottom: 25px;

}


.home h1 {
    font-family: "Lexend deca", sans-serif;
    margin-bottom: 15px;

}


.description {

    color: #9aa1b0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    font-family: "Lexend Deca", sans-serif;
    max-width: 390px;

    margin-bottom: 20px;

}


.button {

    display: inline-block;

    background: #FACC15;

    color: #000000;

    text-decoration: none;

    padding: 10px 16px;

    border-radius: 4px;

    transition: 0.3s;

}


.button:hover {

    background: rgb(233, 230, 78);

}



.home-image {

    width: 420px;

    height: 480px;

    border-radius: 24px;

    overflow: hidden;
    flex-shrink: 0;

}


.home-image img {

    width: 100%;

    height: 100%;

    object-fit: cover;

}

.about {

    min-height: 460px;

    display: flex;

    justify-content: space-between;

    align-items: center;

    gap: 110px;

    background: #020617;

}


.about-image {

    width: 400px;

    height: 400px;

    position: relative;

    flex-shrink: 0;

}


.yellow-frame {

    position: absolute;

    width: 375px;

    height: 390px;

    border: 10px solid #f5c000;

    left: -20px;

    top: 8px;

    border-radius: 24px;

}

.about-image img {

    position: relative;

    z-index: 2;

    width: 370px;

    height: 370px;

    object-fit: cover;

    border-radius: 18px;
    margin-left: 8px;

}

.about-image img {
    transform: scale(1.05);
}

.about-text {

    max-width: 480px;

}


.about-text h2 {

    font-size: 34px;

    margin-bottom: 20px;

}


.about-text h2 span {

    color: #f5c000;

}


.about-text p {

    color: #9aa1b0;

    font-size: 16px;

    line-height: 1.8;

    margin-bottom: 16px;

}


/* SOCIAL ICONS (footer) */

.social-icons {

    display: flex;

    gap: 14px;

    margin-top: 20px;

}


.social-icons a {

    width: 32px;
    height: 32px;

    display: flex;

    align-items: center;

    justify-content: center;

    border-radius: 50%;

    background: rgba(255, 255, 255, 0.06);

    color: #6e7483;

    font-size: 13px;

    transition: 0.3s;

}


.social-icons a:hover {

    color: #FFFFFF;

    background: rgba(255, 255, 255, 0.12);

}


.social-icons a.active-icon {

    background: #f5c000;

    color: #020617;

}


footer .social-icons {

    justify-content: center;

    margin: 20px auto;

}



/* ==================================================
                    SERVICES
================================================== */

.services {

    background: #111827;
    font-family: "Lexend Deca", sans-serif;
}


.services .section-title {

    text-align: left;

    max-width: 500px;

    margin: 0 0 45px;

}


.services .section-title h2 {

    font-size: 34px;

}


.services .section-title p {

    text-align: left;

    margin-top: 10px;

}


.service-container {

    width: 100%;

    margin: 0;

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 24px;

}

h2,
p {
    font-family: "Lexend Deca", sans-serif;
}

.service-card {

    background: #020617;

    border: 1px solid #172036;

    padding: 32px 22px;

    font-family: "Lexend Deca", sans-serif;
    text-align: center;
    min-height: 230px;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;

}


.service-card:hover {

    border-color: #f5c000;
    transform: translateY(-4px);

}


.service-icon {

    color: #EAB308;

    font-size: 44px;

    margin-bottom: 14px;

}


.service-card h3 {

    font-size: 22px;

    font-family: "Lexend Deca", sans-serif;

    margin-bottom: 12px;

}


.service-card p {

    color: #9aa1b0;

    font-size: 16px;

    line-height: 1.7;

    text-align: center;

}

/* =========================
       PORTFOLIO
========================= */

.portfolio {
    background: #020718;
    padding: 70px max(12%, calc(50% - 600px));
}


/* TITLE */

.portfolio .section-title {
    font-family: "Lexend Deca", sans-serif;
    text-align: center;
    margin-bottom: 40px;
}

.portfolio .section-title h2 {
    text-align: center;
    font-size: 23px;
}

.portfolio .section-title span {
    color: #f5c000;
}

.portfolio .section-title p {
    text-align: center;

    max-width: 500px;
    margin: 10px auto;
}


/* =========================
       PORTFOLIO CONTAINER
========================= */

.portfolio-container {

    width: 100%;
    height: 500px;

    margin: 0 auto;

    display: flex;

    gap: 16px;
}


/* =========================
       BIG IMAGE
========================= */

.portfolio-big {

    width: 62%;
    height: 100%;

    overflow: hidden;

    border-radius: 6px;
}


.portfolio-big img {

    width: 100%;
    height: 100%;
    border-radius: 12px;

    object-fit: cover;

    display: block;

    transition: 0.4s;
}


.portfolio-big img:hover {

    transform: scale(1.05);
}



/* =========================
       SMALL IMAGES
========================= */

.portfolio-small {

    width: 38%;
    height: 100%;

    display: grid;

    grid-template-columns: 1fr 1fr;

    grid-template-rows: 1fr 1fr;

    gap: 16px;
}


.portfolio-item {

    overflow: hidden;

    border-radius: 6px;
}


.portfolio-item img {

    width: 100%;
    height: 100%;

    object-fit: cover;

    display: block;

    transition: 0.4s;
}


.portfolio-item img:hover {

    transform: scale(1.08);
}

/* ==================================================
                    EXPERIENCE
================================================== */

.experience {

    background: #171b27;
}

.experience .section-title {
    text-align: left;
    max-width: 500px;
    margin: 0 0 40px;

}

.experience-container {

    width: 100%;

    margin: 0;
    border-radius: 12px;
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 24px;

}


.experience-card {

    background: #020617;
    border-radius: 12px;
    border: 1px solid #172036;

    padding: 32px 22px;

    min-height: 230px;

    transition: 0.3s;

}


.experience-card:hover {

    border-color: #f5c000;
    transform: translateY(-4px);

}


.date {

    color: #D1D5DB;
    display: block;
    font-size: 14px;

}


.experience-card h3 {

    font-family: "Lexend Deca", sans-serif;
    color: #EAB308;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 4px;
}


.experience-card h4 {

    color: #D1D5DB;
    font-family: "Lexend Deca", sans-serif;
    font-size: 14px;
    font-weight: 700;

    margin: 5px 0 14px;

}


.experience-card p {

    color: #9aa1b0;

    font-size: 16px;

    line-height: 1.7;
    text-align: left;

}



/* ==================================================
                    CONTACT
================================================== */

.contact {

    background: #020617;

}

.contact .section-title {
    text-align: center;
    max-width: 550px;
    margin: 0 auto 40px;
}

.contact .section-title p {
    text-align: center;
    margin: 10px auto;
}

.contact-container {

    width: 100%;
    margin: auto;

    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 50px;

}


.contact-info p {

    color: #F3F4F6;
    font-size: 13px;

    margin-bottom: 12px;

}


.contact-info strong {

    color: #f5c000;

}


form {

    display: flex;

    flex-direction: column;

    gap: 20px;

}

input{
    width: 75%;

    background: #242b3a;

    border: none;

    color: rgb(245, 236, 236);

    padding: 12px;

    font-size: 9px;

    outline: none;
}

textarea {

    width: 100%;

    background: #242b3a;

    border: none;

    color: rgb(245, 236, 236);

    padding: 12px;

    font-size: 9px;

    outline: none;

}


input:focus,
textarea:focus {

    border-color: #d8b01e;

}


textarea {

    resize: none;

}


button {

    padding: 16px 20px;

    background: #f5c000;

    border: none;

    cursor: pointer;

    align-self: flex-start;

    border-radius: 4px;

}


button:hover {

    background: rgb(233, 230, 78);

}



/* ==================================================
                    FOOTER
================================================== */

footer {

    text-align: center;

    padding: 35px 20px;

    background: #020718;


}

footer h3 {

    font-size: 32px;

    font-weight: bold;

    margin-bottom: 8px;

}


footer h3 span {

    color: #f5c000;

}


footer p {

    color: #9aa1b0;
    font-size: 16px;
    line-height: 1.7;
    text-align: center;
    max-width: 685px;
    margin: 0 auto;

}


footer .copyright {

    margin-top: 15px;
    color: #4b5263;

}



/* ==================================================
                    RESPONSIVE
================================================== */

@media (max-width: 1024px) {

    header {

        padding: 0 5%;

    }


    .nav-toggle {

        display: flex;
        margin-top: 16px;
    }


    nav {

        position: absolute;
        top: 100%;
        left: 0;
        right: 0;

        flex-direction: column;
        gap: 0;

        background: #020617;
        border-bottom: 2px solid #191D28;

        max-height: 0;
        overflow: hidden;

        transition: max-height 0.3s ease;

    }


    nav.open {

        max-height: 400px;

    }


    nav a {

        width: 100%;
        padding: 14px 5%;

        text-align: center;
        border-top: 1px solid #191D28;

    }


    section {

        padding: 60px 5%;

    }


    .home {

        flex-direction: column;

        justify-content: center;

        text-align: center;

        gap: 40px;

    }


    .home-text {

        max-width: 100%;

    }


    .home-image {

        width: 100%;
        max-width: 420px;
        height: 380px;

    }


    .description {

        margin-left: auto;

        margin-right: auto;

    }


    .about {

        flex-direction: column;

        justify-content: center;

        text-align: center;

        gap: 50px;

    }


    .about-image {

        width: 320px;
        height: 320px;

    }


    .yellow-frame {

        width: 300px;
        height: 312px;

    }


    .about-image img {

        width: 296px;
        height: 296px;

    }


    .about-text {

        max-width: 90%;

    }


    .social-icons {

        justify-content: center;

    }


    .service-container,
    .experience-container {

        grid-template-columns: repeat(2, 1fr);

    }


    .contact-container {

        grid-template-columns: 1fr;

    }

}


@media (max-width: 650px) {

    .home-image {

        width: 260px;
        height: 300px;
        max-width: 100%;

    }


    .about-image {

        width: 260px;
        height: 260px;

    }


    .yellow-frame {

        width: 244px;
        height: 254px;

    }


    .about-image img {

        width: 244px;
        height: 244px;

    }


    .about-text {

        width: 90%;
        max-width: 90%;

    }


    .service-container,
    .experience-container {

        grid-template-columns: 1fr;

        max-width: 350px;
        margin: 0 auto;

    }


    .portfolio-container {

        width: 100%;

        flex-direction: column;

        height: auto;

    }


    .portfolio-big,
    .portfolio-small {

        width: 100%;
        height: 280px;

    }

}
